# Base URL of the ASP.NET Core API
NEXT_PUBLIC_API_URL=https://localhost:5001/api

# Base URL of the public FoodChow API
NEXT_PUBLIC_FOODCHOW_API_URL=https://api.foodchow.com/api


NEXT_PUBLIC_FOODCHOW_RMS_API_URL=https://www.foodchow.com/api



NEXT_PUBLIC_FOODCHOW_WD_API_URL=https://admin.foodchow.com/api

# Base URL of the FoodChow Reports API
NEXT_PUBLIC_FOODCHOW_REPORTS_API_URL=https://www.foodchow.com/api
